<!DOCTYPE html>
<html lang="ko">
<head>
  <title>나날이 공지사항</title>
  <meta data-n-head="ssr" charset="utf-8">
  <meta data-n-head="ssr" name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <table border="1">
    <% data.forEach(function (item, index) { %>
    <tr>
      <td><%= item.reg_date %></td>
      <td><%= item.name %></td>
      <td><%= item.artist %></td>
      <td><%= item.genre %></td>
    </tr>
    <% }); %>
  </table>
</body>
</html>